<html>
	<head>
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
	</head>
	<body>
		<button type="button" onclick="window.open('', '_self', ''); window.close();">Close</button>
		<script>
			$( document ).ready(function() {
				var token = window.location.search.split("code=")[1];
				window.opener.postMessage({token: token},"https://villages.eristory.com");
				window.close();
			});
			</script>
	</body>
</html>
